# 0.) Contributors

Togay Atmaca – 12268957​

Jordan Cassella – 12452926​

Matthew Haimes – 12452937​

Kunj Shah – 12258505​

Yan Song Zhao – 12448802

***

# 1.) Motivation

Why on-chain data?

On-chain data contains information acquired from the
blockchain. On-chain data consist of valuable information
regarding the blockchain network, including transactions,
block size, and mining difficulty. Thus, existing traditional
asset classification criteria and indicators cannot be directly
applied to cryptocurrency. Considering the aforementioned
points, a novel approach that reflects cryptocurrency’s dis-
tinct characteristics is imperative for successful applications.

Why change in point detection to segment the data?

Since the price moves in an unexpected range that has been previously unseen, constructed
machine learning-based models are not able to predict future
spot prices accurately. This problem does not apply only to cer-
tain prediction algorithms but could affect practically every
prediction model constructed based on price data within a
moderate range. This work therefore proposes a novel method
to address the aforementioned problem using a change point detection (CPD) technique.

Prediction Framework:

The proposed framework consists of five phases.
1. Feature sets have been collected from on-chain data. 
3. The segmentation of input data based on the CPD technique (PELT) is conducted. 
4. The proposed price prediction model, utilizing 3-class (Buy, Hold, Sell) MLP. 
5. Portfolio allocation is predicated on the "accuracy score" of the model's predictions
6. Risk management includes utilizing an exponetial decay method for repeated orders on the same token

***

# 2.) Obtaining the Data:

*Dune API*

To get the API key:
1. Create an account on dune
2. In the top left corner, click your username, then click the settings symbol
3. Click create new key, and toggle all endpoints
4. Be sure to copy the API key immediately because it won't be shown again

To create a query:
1. Click Create, then New Query
2. In the data explorer, click Raw blockchain data
3. You'll see the data tables for all the tokens
4. Write your SQL Query, then Save it
5. Click 'API', then 'Python', copy that number that's passed as a parameter. This is what you'll need to connect to Python.

*Coin API*

To get the API key:
1. Create an account on coinaip.io
2. In the left glossary, click on API Keys
3. Click create new key, and toggle all endpoints
4. Be sure to copy the API key immediately because it won't be shown again

To pull data into a dataframe:
1. Input your apikey into a .env file
2. Utilize the functions below to pull hourly crypto data

In [9]:
#!pip install dune-client
from dune_client.client import DuneClient
import dune_api as dapi #.py file storing the API key
dune = DuneClient(dapi.API_KEY)

In [ ]:
# SQL Query for Bitcoin
'''

SELECT 
  DATE_TRUNC('hour', time) AS hour,
  AVG(height) AS average_height,
  AVG(difficulty) AS average_difficulty,
  AVG(total_fees) AS average_total_fees,
  AVG(total_reward) AS average_total_reward,
  AVG(mint_reward) AS average_mint_reward,
  AVG(transaction_count) AS average_transaction_count, 
  AVG(nonce) AS average_nonce, 
  AVG(size) AS average_size, 
  AVG(stripped_size) AS average_stripped_size, 
  AVG(version) AS average_version, 
  AVG(weight) AS average_weight  
FROM bitcoin.blocks
WHERE time >= TIMESTAMP '2015-01-01 00:00:00' 
  AND time < TIMESTAMP '2025-02-24 00:00:00'
GROUP BY DATE_TRUNC('hour', time);

'''

In [ ]:
hourly_BTC_id = 4776487
query_result_BTC_hourly = dune.get_latest_result_dataframe(hourly_BTC_id)
query_result_BTC_hourly.to_parquet('query_result_BTC.parquet')
query_result_BTC_hourly

,hour,average_height,average_difficulty,average_total_fees,average_total_reward,average_mint_reward,average_transaction_count,average_nonce,average_size,average_stripped_size,average_version,average_weight
0,2016-05-26 00:00:00.000 UTC,413437.0,1.993121e+11,0.216820,25.216820,25.000,1046.222222,2.240875e+09,5.530956e+05,553095.555556,1.789570e+08,2.212382e+06
1,2016-05-24 19:00:00.000 UTC,413267.0,1.942548e+11,0.238957,25.238957,25.000,953.400000,2.392228e+09,8.786044e+05,878604.400000,1.610613e+08,3.514418e+06
2,2016-05-05 13:00:00.000 UTC,410353.0,1.786593e+11,0.408661,25.408661,25.000,2119.142857,2.033322e+09,9.347857e+05,934785.714286,2.300875e+08,3.739143e+06
3,2016-05-18 13:00:00.000 UTC,412307.0,1.942548e+11,0.293652,25.293652,25.000,1233.400000,1.790144e+09,8.667872e+05,866787.200000,2.147484e+08,3.467149e+06
4,2016-05-02 17:00:00.000 UTC,409901.5,1.786593e+11,0.336816,25.336816,25.000,1609.333333,1.886348e+09,8.309505e+05,830950.500000,8.947849e+07,3.323802e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
88739,2024-10-12 23:00:00.000 UTC,865391.0,9.204959e+13,0.229268,3.354268,3.125,5316.714286,2.321659e+09,1.541643e+06,817670.714286,6.964429e+08,3.994655e+06
88740,2024-10-19 06:00:00.000 UTC,866310.5,9.204959e+13,0.072661,3.197661,3.125,2038.125000,1.979235e+09,1.881782e+06,704218.125000,6.508933e+08,3.994436e+06
88741,2024-10-23 19:00:00.000 UTC,867043.0,9.567270e+13,0.152815,3.277815,3.125,2680.181818,2.601915e+09,1.511074e+06,827728.363636,6.250153e+08,3.994259e+06
88742,2024-10-24 03:00:00.000 UTC,867089.5,9.567270e+13,0.079985,3.204985,3.125,4350.900000,1.979142e+09,1.625984e+06,789118.900000,5.727248e+08,3.993341e+06
88743,2024-10-30 15:00:00.000 UTC,868104.5,9.567270e+13,0.134211,3.259211,3.125,4360.625000,2.605370e+09,1.595352e+06,799575.625000,6.962627e+08,3.994079e+06

In [5]:
import requests
import pandas as pd
import time
from dotenv import load_dotenv


import os
load_dotenv()
# Your CoinAPI API Key
API_KEY= os.getenv("coinapi")
def get_crypto_data(
    crypto="BTC",
    quote_currency="USDT",
    exchange="BINANCE",
    start_date="2019-02-25T00:00:00",
    end_date="2025-02-25T00:00:00",
    period_id="1DAY"
):
    """
    Fetch cryptocurrency historical OHLCV data from CoinAPI.

    Parameters:
    -----------
    crypto : str
        The cryptocurrency symbol (e.g., 'BTC', 'ETH', 'SOL')
    quote_currency : str
        The quote currency (e.g., 'USDT', 'USD', 'BUSD')
    exchange : str
        The exchange to fetch data from (e.g., 'BINANCE', 'COINBASE', 'KRAKEN')
    start_date : str
        Start date in ISO format (YYYY-MM-DDTHH:MM:SS)
    end_date : str
        End date in ISO format (YYYY-MM-DDTHH:MM:SS)
    period_id : str
        Time period of the candles (e.g., '1DAY', '1HRS', '15MIN')

    Returns:
    --------
    pandas.DataFrame or None
        DataFrame containing the OHLCV data, or None if data retrieval failed
    """
    # Construct the symbol ID based on the parameters
    symbol = f"{exchange}_SPOT_{crypto}_{quote_currency}"

    url = f"https://rest.coinapi.io/v1/ohlcv/{symbol}/history"
    headers = {"X-CoinAPI-Key": API_KEY}


    params = {
        "period_id": period_id,
        "time_start": start_date,
        "time_end": end_date,
        "limit": 10000  # Max records per request
    }

    all_data = []
    max_retries = 5

    # print(f"Fetching {crypto}/{quote_currency} data from {exchange} with {period_id} candles")
    # print(f"Symbol ID: {symbol}")
    # print(f"Date range: {start_date} to {end_date}")

    while True:
        retry_count = 0
        response = None

        # Retry loop for handling rate limits
        while retry_count < max_retries:
            response = requests.get(url, headers=headers, params=params)

            # If we get a rate limit error (429)
            if response.status_code == 429:
                # Try to get the retry-after value
                retry_after = 15  # Default to 15 seconds

                try:
                    # Try to parse JSON response for retry-after info
                    error_data = response.json()
                    if "Retry-After" in error_data:
                        retry_after = int(error_data["Retry-After"])
                except:
                    # If can't parse JSON, try to get from headers
                    if "Retry-After" in response.headers:
                        retry_after = int(response.headers["Retry-After"])

                # print(f"Rate limit hit. Waiting {retry_after} seconds before retrying...")
                time.sleep(retry_after + 1)  # Add 1 second buffer
                retry_count += 1
                continue

            # If we get any other error or success, break out of retry loop
            break

        # If we've exhausted our retries and still have rate limit issue
        if retry_count >= max_retries and response.status_code == 429:
            # print(f"Still hitting rate limits after {max_retries} retries. Aborting.")
            break

        # Regular error handling
        if response.status_code != 200:
            print(f"Error: Status code {response.status_code}")
            print(f"Response: {response.text}")

            # If symbol not found, try alternative quote currencies
            if response.status_code == 404 or (response.text and "invalid or does not exist" in response.text):
                return None
            break

        # JSON parsing
        try:
            if response.text:
                data = response.json()
            else:
                print("Empty response received")
                break
        except Exception as e:
            print(f"JSON parsing error: {e}")
            print(f"Response content: {response.text[:200]}...")
            break

        # API error checking
        if isinstance(data, dict) and "error" in data:
            print("Error:", data["error"])
            break

        # Empty data check
        if not data:
            print("No more data available")
            break

        # Successfully got data
        df = pd.DataFrame(data)
        all_data.append(df)

        print(f"Retrieved {len(df)} records")

        # Update for next batch
        if len(df) > 0:
            last_timestamp = df["time_period_end"].iloc[-1]
            params["time_start"] = last_timestamp
            # Wait between successful requests too, to avoid hitting limits
            time.sleep(5)
        else:
            break

    # Process results
    if all_data:
        full_df = pd.concat(all_data, ignore_index=True)
        full_df["time_period_start"] = pd.to_datetime(full_df["time_period_start"])
        full_df.set_index("time_period_start", inplace=True)
        return full_df
    else:
        return None


def fetch_with_fallbacks(
        crypto="BTC",
        start_date="2019-02-25T00:00:00",
        end_date="2025-02-25T00:00:00",
        period_id="1DAY"
):

    # Try different quote currencies on Binance first
    quote_currencies = ["USDT", "USD", "BUSD"]
    for quote in quote_currencies:
        df = get_crypto_data(
            crypto=crypto,
            quote_currency=quote,
            exchange="BINANCE",
            start_date=start_date,
            end_date=end_date,
            period_id=period_id
        )

        if df is not None and not df.empty:
            print(f"Success with {crypto}/{quote} on BINANCE!")
            print(f"Total records: {len(df)}")
            print(f"Date range: {df.index.min()} to {df.index.max()}")
            return df

    # If Binance failed, try other major exchanges
    exchanges = ["COINBASE", "KRAKEN", "BITSTAMP", "KUCOIN"]
    for exchange in exchanges:
        for quote in quote_currencies:
            df = get_crypto_data(
                crypto=crypto,
                quote_currency=quote,
                exchange=exchange,
                start_date=start_date,
                end_date=end_date,
                period_id=period_id
            )

            if df is not None and not df.empty:
                print(f"Success with {crypto}/{quote} on {exchange}!")
                print(f"Total records: {len(df)}")
                print(f"Date range: {df.index.min()} to {df.index.max()}")
                return df

    print(f"Failed to retrieve data for {crypto} from any exchange or quote currency.")

    return None

In [ ]:
# Fetch BCH data with 1-hour candles for 1 day
btc_hourly = fetch_with_fallbacks(
        crypto="BTC",
        start_date="2025-02-24T00:00:00",
        end_date="2025-02-25T00:00:00",
        period_id="1HRS")
btc_hourly.head()

***

# 3.) Data Cleaning

In [ ]:
import pandas as pd
import numpy as np

def clean_data(data, price_data=None, on_chain_data=None, set_index=True):
    if price_data and on_chain_data:
        raise ValueError('Invalid Parameter Values: Both price_data or on_chain data cannot be True')
    elif price_data:
        prices = data.copy()
        if prices.isna().any().any():
            print('you have nans here')
            return prices 
        
        if set_index:
            prices['time_period_end'] = pd.to_datetime(prices['time_period_end'])
            prices = prices.set_index('time_period_end') 
        else:
            prices.index = pd.to_datetime(prices.index)

        prices['time_open'] = pd.to_datetime(prices['time_open'])
        prices['time_close'] = pd.to_datetime(prices['time_close'])
        return prices
    
    elif on_chain_data:
        metrics = data.copy()
        if metrics.isna().any().any():
            print('you have nans here')
            return metrics 
        
        if set_index:
            metrics['hour'] = pd.to_datetime(metrics['hour'])
            metrics = metrics.set_index('hour')
        else:
            metrics.index = pd.to_datetime(metrics.index)
        return metrics
    else:
        raise ValueError('Invalid Parameter Values: price_data or on_chain data must be True')

def check_missing_hours(df):
    """
    Check if the DataFrame's datetime index skips any hourly datapoints.
    
    Parameters:
        df (pd.DataFrame): DataFrame with a DatetimeIndex.
        
    Returns:
        missing (pd.DatetimeIndex): The missing hourly timestamps.
    """
    # Ensure the index is a DatetimeIndex
    if not isinstance(df.index, pd.DatetimeIndex):
        raise ValueError("DataFrame index must be a DatetimeIndex.")
    
    # Create an expected date_range from the minimum to the maximum timestamp at hourly frequency
    expected_range = pd.date_range(start=df.index.min(), end=df.index.max(), freq='H')
    
    # Determine which timestamps are missing
    missing = expected_range.difference(df.index)
    return missing


def preprocess_data(data, price_data=None, on_chain_data=None, set_index=True):
    if price_data and on_chain_data:
        raise ValueError('Invalid Parameter Values. Both price_data and on_chain_data cannot both be True')

    elif (not price_data) and (not on_chain_data):
        raise ValueError('Invalid Parameter Values. Both price_data and on_chain_data cannot both be False')
    
    else:
        # Create the target df and merge on correct dates. Then forward fill the na values
        if price_data:
            df = clean_data(data.copy(), price_data=True, set_index=True) if set_index else clean_data(data.copy(), price_data=True, set_index=False)
            target_df = pd.DataFrame(0, columns=[0], index=pd.date_range(start=df.index.min(), end=df.index.max(), freq='H'))
        
        elif on_chain_data:
            df = clean_data(data.copy(), on_chain_data=True, set_index=True) if set_index else clean_data(data.copy(), on_chain_data=True, set_index=False)
            target_df = pd.DataFrame(0, columns=[0], index=pd.date_range(start=df.index.min(), end=df.index.max(), freq='H'))

        target_df = target_df.join(df, how='left').drop(0, axis=1)
        target_df = target_df.fillna(method='ffill')


        return target_df

### BITCOIN CLEANING

In [ ]:
# Bitcoin on-chain data from Dune

btc = pd.read_parquet('BTC_Hourly_On_Chain_Data_sorted.parquet')
btc.head()

,hour,average_height,average_difficulty,average_total_fees,average_total_reward,average_mint_reward,average_transaction_count,average_nonce,average_size,average_stripped_size,average_version,average_weight
3417,2015-01-01 00:00:00.000 UTC,336868.0,4.064096e+10,0.023508,25.023508,25.0,177.733333,1.982945e+09,103153.666667,103153.666667,2.0,4.126147e+05
32629,2015-01-01 01:00:00.000 UTC,336879.0,4.064096e+10,0.043085,25.043085,25.0,309.571429,2.230371e+09,168577.857143,168577.857143,2.0,6.743114e+05
49123,2015-01-01 02:00:00.000 UTC,336886.5,4.064096e+10,0.029944,25.029944,25.0,228.750000,2.312130e+09,155578.500000,155578.500000,2.0,6.223140e+05
45019,2015-01-01 03:00:00.000 UTC,336892.5,4.064096e+10,0.074818,25.074818,25.0,497.000000,1.882359e+09,257693.000000,257693.000000,2.0,1.030772e+06
18681,2015-01-01 04:00:00.000 UTC,336898.0,4.064096e+10,0.032928,25.032928,25.0,246.571429,2.118612e+09,130498.571429,130498.571429,2.0,5.219943e+05

In [20]:
# We must shift the BTC data by 1, since we don't know that information until then

btc['hour'] = pd.to_datetime(btc['hour'])
btc = btc.set_index('hour')
btc = btc.shift(1).iloc[1:]
btc = btc.dropna()
display(btc.head())
init_num_missing_hours = len(check_missing_hours(btc))
num_nils_btc = np.where(btc == '<nil>', 1, 0).sum()
print(f'Number of Nils in raw btc on-chain data: {num_nils_btc}')
print(f'Number of missing hours in the raw BTC on-chain data: {init_num_missing_hours}')

,average_height,average_difficulty,average_total_fees,average_total_reward,average_mint_reward,average_transaction_count,average_nonce,average_size,average_stripped_size,average_version,average_weight
hour,,,,,,,,,,,
2015-01-01 01:00:00+00:00,336868.0,4.064096e+10,0.023508,25.023508,25.0,177.733333,1.982945e+09,103153.666667,103153.666667,2.0,4.126147e+05
2015-01-01 02:00:00+00:00,336879.0,4.064096e+10,0.043085,25.043085,25.0,309.571429,2.230371e+09,168577.857143,168577.857143,2.0,6.743114e+05
2015-01-01 03:00:00+00:00,336886.5,4.064096e+10,0.029944,25.029944,25.0,228.750000,2.312130e+09,155578.500000,155578.500000,2.0,6.223140e+05
2015-01-01 04:00:00+00:00,336892.5,4.064096e+10,0.074818,25.074818,25.0,497.000000,1.882359e+09,257693.000000,257693.000000,2.0,1.030772e+06
2015-01-01 05:00:00+00:00,336898.0,4.064096e+10,0.032928,25.032928,25.0,246.571429,2.118612e+09,130498.571429,130498.571429,2.0,5.219943e+05

Number of Nils in raw btc on-chain data: 0
Number of missing hours in the raw BTC on-chain data: 224

In [21]:
btc_chain_processed = preprocess_data(data=btc, on_chain_data=True, set_index=False)
display(btc_chain_processed.head())
num_missing_hours = len(check_missing_hours(btc_chain_processed))
print(f'Number of missing hours in the processed BTC on-chain data: {num_missing_hours}')

,average_height,average_difficulty,average_total_fees,average_total_reward,average_mint_reward,average_transaction_count,average_nonce,average_size,average_stripped_size,average_version,average_weight
2015-01-01 01:00:00+00:00,336868.0,4.064096e+10,0.023508,25.023508,25.0,177.733333,1.982945e+09,103153.666667,103153.666667,2.0,4.126147e+05
2015-01-01 02:00:00+00:00,336879.0,4.064096e+10,0.043085,25.043085,25.0,309.571429,2.230371e+09,168577.857143,168577.857143,2.0,6.743114e+05
2015-01-01 03:00:00+00:00,336886.5,4.064096e+10,0.029944,25.029944,25.0,228.750000,2.312130e+09,155578.500000,155578.500000,2.0,6.223140e+05
2015-01-01 04:00:00+00:00,336892.5,4.064096e+10,0.074818,25.074818,25.0,497.000000,1.882359e+09,257693.000000,257693.000000,2.0,1.030772e+06
2015-01-01 05:00:00+00:00,336898.0,4.064096e+10,0.032928,25.032928,25.0,246.571429,2.118612e+09,130498.571429,130498.571429,2.0,5.219943e+05

Number of missing hours in the processed BTC on-chain data: 0

In [ ]:
# Bitcoin price data from CoinAPI

btc_price = pd.read_csv('btc_hourly.csv').sort_values('time_period_end').set_index('time_period_end')
btc_price.index = pd.to_datetime(btc_price.index)
display(btc_price.head())
num_nans_btc_price = btc.isna().sum().sum()
print(f'Number of NaNs in raw btc price data: {num_nans_btc_price}')
init_num_missing_hours_price = len(check_missing_hours(btc_price))
print(f'Number of missing hours in the raw BTC price data: {init_num_missing_hours_price}')

,time_open,time_close,price_open,price_high,price_low,price_close,volume_traded,trades_count
time_period_end,,,,,,,,
2015-01-14 17:00:00+00:00,2015-01-14T16:07:05.0000000Z,2015-01-14T16:55:16.0000000Z,173.93,197.97,110.20,185.91,1.050000,105
2015-01-14 19:00:00+00:00,2015-01-14T18:50:59.0000000Z,2015-01-14T18:50:59.0000000Z,186.00,186.00,186.00,186.00,0.015362,1
2015-01-14 20:00:00+00:00,2015-01-14T19:05:36.0000000Z,2015-01-14T19:40:43.0000000Z,186.00,188.00,120.00,120.00,0.264638,14
2015-01-15 02:00:00+00:00,2015-01-15T01:35:08.0000000Z,2015-01-15T01:35:20.0000000Z,191.99,192.00,191.99,192.00,1.130000,3
2015-01-15 05:00:00+00:00,2015-01-15T04:09:35.0000000Z,2015-01-15T04:16:31.0000000Z,150.00,150.00,150.00,150.00,0.072200,5

Number of NaNs in raw btc price data: 0
Number of missing hours in the raw BTC price data: 677

In [23]:
btc_price_processed = preprocess_data(data=btc_price, price_data=True, set_index=False)
display(btc_price_processed.head())
num_missing_hours_price = len(check_missing_hours(btc_price_processed))
print(f'Number of missing hours in the processed BTC price data: {num_missing_hours_price}')

,time_open,time_close,price_open,price_high,price_low,price_close,volume_traded,trades_count
2015-01-14 17:00:00+00:00,2015-01-14 16:07:05+00:00,2015-01-14 16:55:16+00:00,173.93,197.97,110.2,185.91,1.050000,105.0
2015-01-14 18:00:00+00:00,2015-01-14 16:07:05+00:00,2015-01-14 16:55:16+00:00,173.93,197.97,110.2,185.91,1.050000,105.0
2015-01-14 19:00:00+00:00,2015-01-14 18:50:59+00:00,2015-01-14 18:50:59+00:00,186.00,186.00,186.0,186.00,0.015362,1.0
2015-01-14 20:00:00+00:00,2015-01-14 19:05:36+00:00,2015-01-14 19:40:43+00:00,186.00,188.00,120.0,120.00,0.264638,14.0
2015-01-14 21:00:00+00:00,2015-01-14 19:05:36+00:00,2015-01-14 19:40:43+00:00,186.00,188.00,120.0,120.00,0.264638,14.0

Number of missing hours in the processed BTC price data: 0

***

# 4.) Charts & Preliminary Analysis